.movies-carousel-container {
    background-color: blueviolet;
}

.carousel-title {
    color: #ffffff; /* White text for the brand */
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.carousel-title:hover {
    color: #FF5733;
}

.card {
width: 18rem;
}

.hero-section {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
  }
  
  .hero-text {
    color: white;
    font-size: 1.5rem;
  }
  
  .hero-backdrop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
  }
  

@media (max-width: 1200px) {
.card {
    width: 14rem;
}
}

@media (max-width: 768px) {
.card {
    width: 12rem;
}
}

