{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recommend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>

  <style>
    label {
        cursor: pointer;
        filter: grayscale(100%);
      }
      label:hover {
        filter: grayscale(0);
      }
      input[type="checkbox"] {
        display: none; /* hide the radio button */
      }
      input[type="checkbox"]:checked + label {
        filter: grayscale(0);
      }
  </style>
</head>
    <body>
        <!--HEADER-->
        {% block header %}
            {% include 'common/header.html' %}
        {% endblock %}
        <!--END HEADER-->

        <!-- MODAL -->
        
        {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div> {% endcomment %}

        <!-- END MODAL -->


        <!--LOGIN-->
        <div class="container mt-3">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>Enter user id to add movies to your list</h1>
                <form method="POST" action="" class="was-validated">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                        <label for="user_id" class="form-label">User id:</label>
                        <input type="number" id="user_id" name="user_id" class="form-control" placeholder="Enter user id" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="user_id" class="form-label">User password:</label>
                        <input type="password" id="user_password" name="user_password" class="form-control" placeholder="Enter user password" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-light">LOGIN</button>
                    <br>
                    <p class='badge mt-3 bg-light fw-bold text-danger'>Note: You might have to refresh the page again for the updates to show</p>
                </form>
            </div>

        </div>

        <!--END LOGIN-->

        <div class="container mt-5">
            <form method="GET" action="{% url 'update' %}">
                {% csrf_token %}
                <h3>Genre</h3>
                <select name="genres[]" id="genres" multiple>
                    {% for genre in genres %}
                        <option>{{genre}}</option>
                    {% endfor %}
                </select>
                <h3 class='mt-3'>Year</h3>
                <input type="text" class="form-control mt-1" name="datepicker" id="datepicker" />
            
                <button type="submit" class="btn btn-primary mt-3">Display</button>
            </form>

            <div>
                {% if success %}
                    <h3 class="badge mt-5 text-wrap bg-success fw-bold text-light">{{success}}</h3>  
                {% else %}
                    <h3 class="badge mt-5 text-wrap bg-danger fw-bold text-light">{{error}}</h3>
                {% endif %}
            </div>

            {% if session %}
                <div class='mt-3 mb-3'>
                    <h3 class="badge text-wrap bg-success fw-bold text-light">USER ID: {{user_logged}}</h3>
                    <h3 class="badge text-wrap bg-primary fw-bold text-light">Movies: {{movie_names}}</h3>
                </div>
            {% endif %}

            <!--DISPLAY CHOICES-->
            <div class="mt-5">
                <h3>Genres</h3>
                <p>{{genres_text}}</p>
                <h3>Year: {{year}}</h3>
                <form id="my-form" method="POST" action="{% url 'update' %}">
                    {% csrf_token %}
                    <div class="row row-cols-4 row-cols-lg-4">
                        {% for movie in movies %}
                            {% if movie.id not in movies_watched%}
                                <div class="col mb-4">
                                    <input type="checkbox" name="select_movie" value="{{ movie.id }}" class="sr-only" id="male{{ forloop.counter }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <label for="male{{ forloop.counter }}">
                                        <img src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="{{movie.original_title}}">
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add to list</button>
                </form>
            </div>
             <!--END DISPLAY CHOICES-->


        </div>

        {% block footer %}
            {% include 'common/footer.html' %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
        <script>
            new MultiSelectTag('genres')  // id
        </script>
        <script>
            $("#datepicker").datepicker({
                format: "yyyy",
                viewMode: "years", 
                minViewMode: "years"
            });
        </script>
        <!-- <script>
            // Add event listener to all radio inputs with img labels
            const radioInputs = document.querySelectorAll('input[type="radio"] + label');
            radioInputs.forEach(function(label) {
                label.addEventListener('click', function(event) {
                // Toggle the grayscale filter when the label is clicked
                const input = event.currentTarget.previousElementSibling;
                if (input.checked) {
                    label.style.filter = 'grayscale(100%)';
                    input.checked = false;
                } else {
                    label.style.filter = 'grayscale(0)';
                    input.checked = true;
                }
                });
            });
        </script> -->

        {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#my-form input[type="checkbox"]').on('change', function() {
                  var $col = $(this).closest('.col');
                  var movieId = $col.find('input[name="select_movie"]').val();
                  var select_movie = $('input[name="select_movie"]:checked').val();
                  $.ajax({
                    url: '{% url "update" %}',
                    type: 'POST',
                    data: {
                      'select_movie': select_movie,
                      'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function(response) {
                      console.log(response);
                    },
                    error: function(xhr) {
                      console.log(xhr.responseText);
                    }
                  });
                });
              });
        </script> {% endcomment %}
        
        
</body>
</html>