

.flex-container {
  display: flex;
  background-color: aqua;

}

.flex-container > div {
  background-color: green;

  margin: 10px;
  flex-grow: 1;
}

.table {
  background-color: whitesmoke;
}

/* TABLE */

